<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    {{#each building in model}}
      <div class="building">
        <p>
            {{#link-to "building.view" building.id}}Details{{/link-to}}
            {{building.street}} {{building.number}}
        </p>
      </div> 
    {{else}}
      <div class="well">No buildings</div>
    {{/each}}
  </div>
</div>
  
