<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    {{#each building in model}}
      <p>Building</p>
    {{else}}
      <div class="well">No buildings</div>
    {{/each}}
  </div>
</div>
  
