<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>Hi there!</h1>
    <p>You have been invited to this void. Please help your friends search for a new place: </p>
    <dl>
      <dt>Username</dt>
      <dd>
        {{input type="text" value=name class="form-control"}}
      </dd>
      <dt>Organization</dt>
      <dd>
        {{input type="text" value=organization class="form-control"}}
      </dd>
      <dt>Password</dt>
      <dd>
        {{input type="password" value=password class="form-control"}}
      </dd>
    </dl>
    {{#bs-button clicked="redeem" type="default"}}
      <span class="glyphicon glyphicon-check"></span> Redeem Invitation
    {{/bs-button}}
  </div>
</div>
